body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 30px;
    
}


h2{
    font-size: 25px;
}
.Name-4-highlight{
    font-size: 35px;
    color: rgb(251, 255, 7);
}
.Name-1-highlight{
    font-size: 25px;
    color: rgb(251, 255, 7);

}
.Name-3-highlight{
    color: white;

}

.half-width{
    width: 30%;
    float: left;
    margin: 5%;
    padding-left: 7%;

    
}
.half-width img{
    width: 119%;
  
}
.p{
    text-align: justify;
    text-justify: inter-word;
    ;
  }

.top-banner{ background-image: url("Ash.jpg");
    
    background-repeat: no-repeat;
    height: auto;
    width:100%;
    background-attachment: fixed;
}
section{
    height:800px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    padding: 8px 12px;
    border-radius: 7px;
    color: whitesmoke;
    font-weight: bold;
    

}

.experience-area{
      width: 100%;
      float: left;
      padding: 79px;

}
.Dream-area img{
    width: 109%;
}
.single-experience{
    box-shadow: 13px 19px 49px rgb(42, 120, 134);
    border-radius: 15px ;
    height: 50%;
    width: 30%;
    float: left;
   
   padding: 35px;
   
   border: 0.5px solid rgb(109, 181, 190); 
   
}
.ex-01{
    text-align: justify;
}
#full-stack{
    border-left: 5x solid  ;
    border-image: linear-gradient( 180deg, black rgb(50, 115, 131));
    border-image-slice: 1;
}
#baby{
    border-left: 5x solid  ;
    border-image: linear-gradient( 180deg,rgb(0, 0, 0) rgb(17, 52, 150));
    border-image-slice: 1;
}

